$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors

$titlesFontsColor: #292929;
$descTextColor: #666666;
$grayBg: #F8FAF9;
$yellow: #FEDB3F;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

@import './media.scss';

@import './blocks/_layout.scss';
@import './blocks/_hero.scss';
@import './blocks/_header.scss';
@import './blocks/_logo.scss';
@import './blocks/_menu.scss';
@import './blocks/_phone__number.scss';
@import './blocks/_hero__title.scss';
@import './blocks/_button.scss';
@import './blocks/_hero__icons-container.scss';
@import './blocks/_section.scss';
@import './blocks/_headline.scss';
@import './blocks/_benefits.scss';
@import './blocks/_benefit.scss';
@import './blocks/_why.scss';
@import './blocks/_review.scss';
@import './blocks/_reviews.scss';
@import './blocks/_interractive-avatar.scss';
@import './blocks/_arrow.scss';
@import './blocks/_slider.scss';
@import './blocks/_slide.scss';
@import './blocks/_slide-order.scss';
@import './blocks/_parameters.scss';
@import './blocks/_feature.scss';
@import './blocks/_options.scss';
@import './blocks/_team.scss';
@import './blocks/_accordeon.scss';
@import './blocks/_accordeon__link.scss';
@import './blocks/_accordeon__avatar.scss';
@import './blocks/_accordeon__content.scss';
@import './blocks/_order-form.scss';
@import './blocks/_form.scss';
@import './blocks/_form__column.scss';
@import './blocks/_form__cell.scss';
@import './blocks/_form__input.scss';
@import './blocks/_form__row.scss';
@import './blocks/_form__textarea.scss';
@import './blocks/_payment-box.scss';
@import './blocks/_form__button-container.scss';
@import './blocks/_contacts.scss';
@import './blocks/_map.scss';
@import './blocks/_footer.scss';
@import './blocks/_social-media.scss';
@import './blocks/_burger.scss';
@import './blocks/_fixed-menu.scss';
@import './blocks/_fullscreen-menu.scss';
@import './blocks/_test.scss';