.fixed-menu {
    position: fixed;
    top: 32.7%;
    right: 4.2%;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.fixed-menu__list {
    li {
        list-style-type: none;
    }
}

.fixed-menu__point {
    margin-bottom: rem(5px);

    &--active {
        .fixed-menu__link {
            border-color: #fff;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.fixed-menu__link {
    position: relative;
    display: block;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;

    &:before {
        position: absolute;
        display: block;
        top: 28%;
        left: 28%;
        content: "";
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: #fff;
    }
}