.form__input {
    padding-left: rem(14px);
    width: 100%;
    height: rem(58px);
    line-height: rem(58px);
    font-family: 'Open Sans';
    font-size: rem(14px);
    box-sizing: border-box;
    background: #fff;
    border: rem(1px) solid #fff;
    border-radius: rem(5px);

    @include tablets {
        height: rem(36px);
        line-height: rem(36px);
    }
}