.form__textarea {
    border: rem(1px) solid #fff;
    border-radius: rem(5px);
    width: 100%;
    box-sizing: border-box;

    @include tablets {
        padding-left: 14px;
        height: rem(82px);
    }
}