.parameters {
    padding: 0;
    position: relative;
    width: rem(91px);
    height: rem(91px);
    background-color: #3A587E;
    border-radius: 5%;
    margin-bottom: rem(52px);
    text-align: center;
    cursor: pointer;

    @include tablets {
        display: none;
    }
}

.parameters:hover {
    background-color: #3465A3;
}

.parameters:hover + .parameters__list {
    display: block;
}


.parameters__img {
    width: rem(38px);
    height: rem(38px);
    margin-bottom: rem(5px);
}

.parameters__text {
    font-size: rem(14px);
    font-weight: 700;
    color: #fff;
}

.parameters__list {
    display: none;
    position: absolute;
    top: rem(9px);
    left: rem(100px);
    padding: rem(18px) rem(13px) rem(21px) rem(14px);
    width: rem(273px);
    height: rem(291px);
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
}

.parameters__list:hover {
    display: block;
}

.parameters__item {
    padding: rem(6px) rem(12px) rem(6px) rem(12px);
    margin-bottom: rem(8px);
    font-size: rem(16px);
    font-style: normal;
    font-weight: 500;
    line-height: 200%;

    &:last-child {
        margin-bottom: 0;
    }
}

.parameters__link {
    display: flex;
}

.parameters__link-icon {
    margin-right: rem(12px);
    width: rem(32px);
    height: rem(32px);
    flex-shrink: 0;
}

.parameters__link-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}