.phone-number {
    display: flex;
    justify-content: center;
    padding-top: rem(7px);
    
    &.header__phone-number {

        @include tablets {
            display: none;
        }
    
        @include phones {
            display: none;
        }
    }
}

.phone-number__icon {
    margin: rem(4px) rem(6px) rem(4px) 0;
    width: rem(13px);
    height: rem(14px);
    flex-shrink: 0;
    fill: white;
} 

.phone-number__icon-elem {
    width: rem(13px);
    height: rem(14px);
    overflow: hidden;
}

.phone-number__text {
    font-size: rem(22px);
    font-weight: bold;
    white-space: nowrap;
}