.slider {
    padding: 0;
    background-color: $grayBg;
}

.slider__outside-container {
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    max-width: rem($containerWidth) + rem(48px);
    display: flex;
    justify-content: center;

    @include tablets {
        padding-bottom: 7%;
        //max-width: $containerWidth;
    }

    @include phones {
        padding: 2% 0 9% 0;
        max-width: rem($containerWidth) + rem(48px);
    }
}

.slider__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.slider__container-wrap {
    overflow: hidden;
}