.slide {
    display: flex;
    transition: all 1s;
}

.slide__item {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.slide__img-outside {
    display: flex;
}

.slide__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(64px);
    max-width: rem(480px);
    max-height: rem(538px);
    overflow: hidden;
    flex-shrink: 1;

    @include tablets {
        padding-left: 0;
        width: rem(338px);
        height: auto;
        flex-shrink: 0;
    }

    @include phones {
        width: rem(252.44px);
        margin-bottom: rem(10px);
    }
}

.slide__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.slide__info {
    position: relative;
    margin-left: 5.4%;
    padding: 1%;
    flex: 1;

    @include tablets {
        margin: 0 11% 0 11%;
    }

    @include phones {
        margin: 0 5% 0 5%;
        padding-top: 0;
    }
}

.slide__headline {
    margin-bottom: rem(24px);
    font-size: rem(36px);
    font-weight: 700;
    text-transform: uppercase;

    @include tablets {
        margin-bottom: rem(14px);
        text-align: center;
        font-size: rem(30px);
    }

    @include phones {
        margin-bottom: rem(10px);
    }
}

.slide__text {
    padding-right: 2%;
    margin-bottom: rem(24px);
    font-size: rem(18px);
    line-height: normal;
    color: $descTextColor;

    @include tablets {
        padding-right: 0;
        text-align: center;
        line-height: 130%;
    }

    @include phones {
        margin-bottom: rem(12px);
    }
}